{% extends "layout.html" %}
{% set active_page = "archive" -%}
{% from "__autoindex__/macros.html" import entry, thead, breadcrumb
   with context %}


{% block main %}
<div id="main">
    <div class="container">
        <div class="row main-row">
            <div class="8u">
    <table>
      <thead>
        {{ thead() }}
        {% if not curdir.is_root() %}
          <tr>
            <td class="breadcrumb" colspan="4">
              <h1>{{ breadcrumb(curdir) }}</h1>
            </td>
          </tr>
        {% endif %}
      </thead>
      <tbody>
        {% for ent in entries %}
          {{ entry(ent) }}
        {% endfor %}
      </tbody>
    </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

