{% extends "layout.html" %}
{% set active_page = "issues" -%}
{% block main %}

<a href="issues?disp=houses_without_visit_forms">Houses without visit form</a>
<a href="issues?disp=duplicate_outmigrations">Duplicate outmigrations</a>
<a href="issues?disp=duplicate_inmigrations">Duplicate inmigrations</a>
<a href="issues?disp=duplicate_visits">Duplicate visits</a>
<a href="issues?disp=duplicate_individuals">Duplicate individuals</a>
<a href="issues?disp=houses_without_residency">Houses without residency</a>

<div id="main">
    <div class="container">
        <div class="row main-row">
            <div class="4u">
                <section>
                    <div id="map" style="height: 400px; width: 500px"></div>
            {% include 'charts/kml.html' %}
            </section>
        </div>
    </div>
    </div>
</div>
<a href="{{ url_for('static', filename='tmp/{}'.format(filename)) }}">Download</a>
{% endblock %}
